@using  Portfolio.Models
@model string
@{Layout = "_Main";}
@section Scripts{
	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	<script>
		var iaroSkillsJson = '@(Html.Raw(Model))';
	</script>
	<script type="module" src="~/scripts/graph.js"></script>
}

<div class="main">
	<div class="mainfragment" id="title">
		<h1>Iaro Titov</h1>
		<div class="devTitleContainer">
			<div class="devTitleScroller">
					<h6 class="devTitleScrollContent">
						Software <br />
						Game <br />
						Blockchain<br />
						Fullstack<br />
						Cloud<br />
						Backend<br />
						Mobile<br />
						Web<br />
						Software<br />
					</h6>
			</div>
			<h6 class="devTitleFixed"> Developer </h6>
		</div>
	</div>
	<div class="mainfragment" id="photo">
		<img class="logo" src="~/images/logo.png" />
		<img class="iaro" src="~/images/YaroRef_2.png" />
	</div>
	<div id="mynetwork"></div>
	<img id="ripple" src="~/images/ripple.svg">
</div>
