@using  Portfolio.Models
@model List<EventEntity>
@{Layout = "_Main"; }
@section Scripts{}

	<div class="fullPath">
		@for (int i = 0; i < @Model.Count(); i++)
		{
			@await Html.PartialAsync("_Waypoint", Model[i])

			if (i != @Model.Count() - 1)
			{
				<div class="path"> </div>
			}
		}
	</div>