@using  Portfolio.Models
@model IEnumerable<ProjectEntity>
@{Layout = "_Main";}
@section Scripts{
	<script type="module" src="~/scripts/projects.js"></script>
}

<div class="projectPack">
	@foreach (var project in Model)
	{
		@await Html.PartialAsync("_Project", project)
	}
</div>