:root {
	--main-color: #111111;
	--text-color: #eeeeee;
	--highlight-color: #ffd200;
	--main-fragment-offset: 12.5vw;
	scrollbar-color: var(--highlight-color) transparent !important;
}

@media screen and (max-aspect-ratio: 1/1) {
	:root {
		--main-fragment-offset: -5vw;
	}
}

@font-face {
	font-family: Cambria;
	src: url('../fonts/Cambria/Cambria.ttf');
}

@font-face {
	font-family: RC;
	src: url('../fonts/RC/RC.otf');
}

@font-face {
	font-family: Revamped;
	src: url('../fonts/Revamped/Revamped.otf');
}

html, body {
	background-color: var(--main-color);
	font-family: Cambria;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	scrollbar-width: none;
}

	body:focus {
		outline: none;
	}

header {
	max-height: 10vh;
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	font-family: Revamped;
	background-color: transparent;
	overflow: visible;
	position: absolute;
	z-index: 10;
	width: 100%;
}

	header img {
		max-height: inherit;
	}

	header a {
		font-size: 300%;
		margin: 10px;
		height: min-content;
		width: 30vw;
		white-space: nowrap;
	}

.textAlignRight {
	text-align:right;
}

.textAlignLeft {
	text-align: left;
}

a:link, a:visited {
	text-decoration: none;
	color: var(--highlight-color);
}

a:hover, a:active {
	color: var(--text-color);
}

.main {
	display: flex;
	justify-content: center;
	overflow: hidden;
	min-height: 150vh;
	max-height: 150vh;
	max-width: 100vw;
	position: relative;
	text-align: center;
	color: var(--highlight-color);
}

.mainfragment {
	height: 30vh;
	width: 30vh;
	margin-top:50vh;
	position: relative;
	display: inline-block;
}

#title {
	margin-top: 35vh;
	text-align:left;
	right:var(--main-fragment-offset);
}

#photo {
	left: var(--main-fragment-offset);
}

.mainfragment .logo {
	height: 100%;
}

.mainfragment .iaro {
	position: absolute;
	height: 180%;
	right: -12%;
	bottom: 15%;
}

h1 {
	font-size: 6em;
	margin: 0;
	color: var(--text-color);
	overflow: visible;
	white-space: nowrap;
}

#mynetwork {
	width: 100%;
	height: 130%;
	position: absolute;
	z-index: 1;
}

.vis-active:focus {
	outline: none;
}

.vis-network {
	outline: none;
}

#ripple {
	display: inline-block;
	position: absolute;
	z-index: 10;
	transform-origin: center center;
	transform: translate(-100px, -100px);
	pointer-events: none;
	opacity: 0;
}

.projectPack {
	top: 10vh;
	position: relative;
	display: block;
	text-align: center;
	user-select: none;
}

.project {
	width: 80vw;
	min-height:45vw;
	position: relative;
	display: inline-flex;
	text-align: left;
	
	justify-content:center;
	align-items:center;
	margin: 5vh 0;
}

	.project .slide {
		position: absolute;
		max-height: 100%;
		max-width: 100%;
		min-height: 100%;
		min-width: 100%;
		object-fit: contain;
		border: 0.25vh solid var(--highlight-color);
		background-color: var(--main-color);
	}

.slide {
	opacity: 0;
	z-index: -1;
}

.project .selected {
	opacity: 1;
	z-index: 1;
}

.project .right {
	opacity: 1;
	transform: scale(.9) translateX(calc(5% + 5vw));
	z-index: 0;
}

.project .left {
	opacity: 1;
	transform: scale(.9) translateX(calc(-5% + -5vw));
	z-index: 0;
}

.slide * {
	position: absolute;
}

.slide img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: contain;
	background-color: var(--main-color);
	border:0;
}

.slide h1 {
	text-align: center;
	width: 60%;
	font-size: 5vmin;
	color: var(--main-color);
	position: relative;
	background-color: var(--highlight-color);
	left: 20%;
	padding: 0 0 1vh 0;
	border-radius: 0 0 50% 50%;
	opacity: 1;
	transition: opacity 0.3s;
}

	.slide h1 span {
		text-align: center;
		color: var(--main-color);
		width: 100%;
		position: relative;
		margin: 0;
		font-size: 0.3em;
		opacity: 1;
		transition: opacity 0.3s;
		display: block;
	}

.slide h1:hover {
	opacity: 0;
	transition: opacity 0.3s;
}

.slide p {
	position: absolute;
	color: var(--main-color);
	border-top: .25vh solid var(--highlight-color);
	border-right: .25vh solid var(--highlight-color);
	width: 33.33%;
	bottom: 0;
	margin: 0;
	padding: 1vmin;
	background: var(--highlight-color);
	font-weight: bold;
	font-size: 1.5vmin;
	opacity: 1;
	transition: opacity 0.3s;
}

.slide p:hover {
	opacity: 0;
	transition: opacity 0.3s;
}

.slide .linkflex {
	display: inline-flex;
	position: absolute;
	flex-flow: row;
	bottom: 0;
	right: 0;
}

.slide .link {
	font-weight: bold;
	bottom: 0;
	right: 0;
	background: var(--highlight-color);
	border-radius: 25px;
	border: 0;
	padding: 0.5em;
	font-family: Cambria;
	margin: 0 1.5em 1em 0;
	font-size: 1.5em;
	color: var(--main-color);
	position: relative;
}

.slide .skillflex {
	display: inline-flex;
	position: absolute;
	flex-flow: column;
	top: 0;
}

.slide .skill {
	font-weight: bold;
	left: 0;
	top: 0;
	background: var(--highlight-color);
	border-radius: 0 25px 25px 0;
	border: 0;
	padding: 0.5em;
	font-family: Cambria;
	font-size: 1.5vmin;
	color: var(--main-color);
	position: relative;
	margin-top: 1vh;
}

.fullPath {
	display: flex;
	width: 100%;
	align-items: center;
	flex-flow: column;
	top: 35vh;
	position: relative;
	margin-bottom: 25vh;
}

.waypoint {
	background-color: var(--highlight-color);
	width: 8vh;
	height: 8vh;
	border-radius: 4vh;
}

.waypointWhite {
	width: 5vh;
	height: 5vh;
	background-color: var(--text-color);
	border-radius: 50%;
	border: 1.5vh solid var(--highlight-color);
	transform-origin: center;
}

.waypointBlack {
	width: 2vh;
	height: 2vh;
	background-color: var(--main-color);
	border-radius: 50%;
	border: 1.5vh solid var(--text-color);
	transform-origin: center;
}

.path {
	width: 4vh;
	height: 35vh;
	background-color: var(--highlight-color);
	margin: -1vh;
}

.waypointData {
	width: 0;
	height: 0;
	margin: -1vh 0 0 1vh;
}

.rightPopup h2 {
	color: var(--highlight-color);
	right: 7em;
	bottom: 1em;
	position: relative;
	font-size: 2.5em;
}

.rightPopup .waypointPop {
	width: 40vh;
	height: 40vh;
	position: relative;
	background-color: var(--highlight-color);
	bottom: 27vh;
	left: 8vh;
	text-align: center;
	border-radius: 2vh;
}

.waypointData img {
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	border-radius: 2vh;
	margin: 2vh;
	max-height: 28vh;
}

.waypointData p {
	font-size: 1.6vh;
	margin: 0 2vh;
	font-weight:bold;
	text-align:left;
}

.leftPopup h2 {
	color: var(--highlight-color);
	left: 1.5em;
	bottom: 1em;
	position: relative;
	font-size: 2.5em;
}

.leftPopup .waypointPop {
	width: 40vh;
	height: 40vh;
	position: relative;
	background-color: var(--highlight-color);
	bottom: 27vh;
	right: 48vh;
	text-align: center;
	border-radius: 2vh;
}

@media screen and (max-aspect-ratio: 1/1) {
	.leftPopup h2, .rightPopup h2 {
		display: none;
	}

	.fullPath {
		left: -22vh;
	}

	.path {
		height: 40vh;
	}

	.waypointData {
		margin: 8vh 0 0 1vh;
	}

	.leftPopup .waypointPop {
		width: 40vh;
		height: 40vh;
		position: relative;
		background-color: var(--highlight-color);
		bottom: 27vh;
		left: 8vh;
		text-align: center;
		border-radius: 2vh;
	}

	#mynetwork {
		height: 110%;
	}
}

.contact {
	width: 3vh;
	height: 3vh;
	position: absolute;
}

	.contact img {
		max-height: 100%;
		max-width: 100%;
	}

.skills {
	position:relative;
}

#skypeContact {
	left: -15.5vh;
	top: 3.5vh;
}

#mailContact {
	left: -10vh;
	top: 4vh;
}

#textContact {
	left: -4.5vh;
	top: 4vh;
}

#linkedinContact {
	left: 1vh;
	top: 4vh;
}

.skillFilters {
	width: 80vw;
	top: 15vh;
	position: relative;
	display: block;
	text-align: center;
	user-select: none;
	left: 10vw;
	margin: 0 0 5vh 0;
}

.skillButton {
	background: var(--main-color);
	color: var(--highlight-color);
	margin: .25vh;
	font-size: 1em;
	border: 0.2vh solid var(--highlight-color);
	padding: .5vh;
	display: inline-block;
}

	.skillButton:hover, .skillButton + .filled {
		background: var(--highlight-color);
		color: var(--main-color);
	}

.skillButton:focus {
	outline: none;
}

.noProjects {
	color: var(--highlight-color);
	font-size: 4em;
	padding: 0 10vh;
	margin: 22vh 0;
}

/* width */
::-webkit-scrollbar {
	display: none;
}

.slide .arrow {
	z-index: 10;
	right: -4.5%;
	top: 45%;
	min-height: 10%;
	min-width: auto;
	animation: ScaleUpDown 1s linear infinite;
	pointer-events: none;
	background: transparent;
}

@keyframes ScaleUpDown {
	0%, 100% {
		height: 12%;
	}

	50% {
		height: 8%;
	}
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

toolbarbutton[class^="scrollbutton"] {
	display: none !important;
	height:0;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.loading_spinner {
	display: block;
	margin: auto;
	margin-top: 16vh;
	opacity: 0;
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.devTitleContainer {
	display: flex;
	margin: 0;
	font-size: 5em;
	margin-left: -1em;
}

.devTitleScroller {
	display: inline-block;
	text-align: right;
	padding-right: 0.2em;
	line-height: 0.8em;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 1) 0.1em, rgba(0, 0, 0, 1) 0.6em, rgba(0, 0, 0, 0) 0.9em);
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 1) 0.1em, rgba(0, 0, 0, 1) 0.6em, rgba(0, 0, 0, 0) 0.9em);
}

.devTitleScrollContent {
	margin: 0;
	-webkit-animation: Scroll 15s ease infinite;
	-moz-animation: Scroll 15s ease infinite;
	animation: Scroll 15s ease infinite;
}

.devTitleFixed {
	display: inline-block;
	margin: 0;
}

@keyframes Scroll {
	0%{
		margin-top: 0;
	}

	5%, 12.5% {
		margin-top: -1.2em;
	}

	17.5%, 25% {
		margin-top: -2.4em;
	}

	30%, 37.5% {
		margin-top: -3.6em;
	}

	42.5%, 50% {
		margin-top: -4.8em;
	}

	55%, 62.5% {
		margin-top: -6em;
	}

	67.5%, 75% {
		margin-top: -7.2em;
	}

	80%, 87.5% {
		margin-top: -8.4em;
	}

	92.5%, 100% {
		margin-top: -9.6em;
	}
}

@-moz-keyframes Scroll {
	0% {
		margin-top: 0;
	}

	2.5%, 12.5% {
		margin-top: -1.2em;
	}

	15%, 25% {
		margin-top: -2.4em;
	}

	27.5%, 37.5% {
		margin-top: -3.6em;
	}

	40%, 50% {
		margin-top: -4.8em;
	}

	52.5%, 62.5% {
		margin-top: -6em;
	}

	65%, 75% {
		margin-top: -7.2em;
	}

	77.5%, 87.5% {
		margin-top: -8.4em;
	}

	90%, 100% {
		margin-top: -9.6em;
	}
}

@-webkit-keyframes Scroll {
	0% {
		margin-top: 0;
	}

	2.5%, 12.5% {
		margin-top: -1.2em;
	}

	15%, 25% {
		margin-top: -2.4em;
	}

	27.5%, 37.5% {
		margin-top: -3.6em;
	}

	40%, 50% {
		margin-top: -4.8em;
	}

	52.5%, 62.5% {
		margin-top: -6em;
	}

	65%, 75% {
		margin-top: -7.2em;
	}

	77.5%, 87.5% {
		margin-top: -8.4em;
	}

	90%, 100% {
		margin-top: -9.6em;
	}
}